<div class="row mb-10">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          All tasks
        </h5>
        <div class="card-text">
          <ul class="list-group mb-10">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer;" *ngFor="let task of allTasks" (click)="toggleStatus(task.id)">
              {{ task.text }} - <span class="badge badge-primary badge-pill">{{ task.isCompleted ? "Done" : "" }}</span>
            </li>
          </ul>
          <br/>
          <button class="btn btn-primary" (click)="addTask()">Add a task</button>
        </div>
      </div>
    </div>
  </div>
</div>
